.popuptext {
  font-family: @df-sans;
  width: auto;

  @media @tablet {
    max-width: 300px;
  }
  @media @mobile {
    overflow: scroll;
    // max-height: 180px;
  }
  .big{
    text-transform: uppercase;
  }
  .popheader {
    font-size: 16px;
    margin: 0 0 4px 0 ;
    @media @tablet {
      font-size: 13px;
    }
  }
  .total{
    font-size: 14px;
    margin-top: 6px;
    padding-top: 2px;
    border-top: 1px solid black;
  }
}

.renter-pop{
  color: black;
}

.bar-container{
  width: 100%;
  .rent{
    margin-bottom: 8px;
  }
  .bar{
    width: 100%;
    height: 20px;
    display: flex;
    div{
      height: 15px;
      margin-right: 3px;
    }
    .bar--renter{
      background-color: #253494;
    }
    .bar--owner{
      background-color: #d4d1d1;	
    }
  }
}

.popsmall{
  font-size: 14px;
  line-height: 1;
}

.block{
  font-size: 20px;
  width: 12px;
  line-height: 1;
}
.block-rent{
  color: #253494;
}
.block-own{
  color: #d4d1d1;
}
