.popuptext {
  font-family: @df-sans;
  width: auto;

  @media @tablet {
    max-width: 300px;
  }
  @media @mobile {
    overflow: scroll;
    // max-height: 180px;
  }
}

.bar-container{
  width: 100%;
  .bar{
    width: 100%;
    height: 20px;
    display: flex;
    margin: 10px 0;
    .bar--renter{
      background-color: #a03909;
      height: 20px;
    }
    .bar--owner{
      background-color: #c3c1c1;	
      height: 20px;

    }
  }
}
